@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --accent-color: #08fdd8;
}

html {
  @apply text-[60%] sm:text-[65%] md:text-[75%]  2xl:text-[100%];
  /* @apply text-[65%] sm:text-[70%] md:text-[80%] lg:text-[90%] xl:text-[100%]; */
}

#partical canvas {
  /* display: none; */
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.tagcloud--item {
  @apply text-2xl text-accent;
}
